<div class="home-welcome" *ngIf="view === 'hello'">
  <h2>Welcome to the Text Formatting App</h2>
</div>

<div class="home-container" *ngIf="view === 'formatter'">
  <app-text-display></app-text-display>
  <app-formatters></app-formatters>
</div>

<div class="entry-container" *ngIf="view === 'entry'">
  <app-database-form
    (dataSubmitted)="handleSubmitted($event)"
  ></app-database-form>
  <app-output [entries]="dbData"></app-output>
</div>

<div class="gojs-container" *ngIf="view === 'gojs'">
  <app-gojs></app-gojs>
</div>
